extends partials/layout.pug

block mainbody
  .body-layout
    .post-body-layout
      .post-header
        h2 Archive
      .index-container
        .post-layout
          article.post-main
            section.archive-page.section
              - var year = 0
              - page.posts.each(function (item){
              - item.year = date(item.date, 'YYYY')
                if year != item.year
                  - year = item.year
                  .archive-categories
                    h3.archive-categories-title #{year}
                    ul
                      - page.posts.each(function (item){
                      - item.year = date(item.date, 'YYYY')
                      if year != item.year
                        - return false
                      li
                        a.down-a(href=url_for(item.path)) #{item.title}
                      - })
                    div(style='clear:both;')
              -})

  include partials/footer.pug
