//- Created by bob on 26/05/2017.
mixin posttag(item)
  .post-tags
    - item.tags.each(function (tag){
    a(href=url_for(tag.path)) #{tag.name}
    - })
mixin tagspage(item)
  .body-layout
    .post-body-layout
      .post-header
        h2 #{item.title}
      .index-container
        .post-layout
          article.post-main
            section.tags-page-section
              != tagcloud({min_font: item.min_font, max_font: item.max_font, amount: item.amount})
    include ../partials/footer.pug
