//- Created by bob on 26/05/2017.

// footer
footer.page-footer
    p Copyright @ #{theme.year} #[a(href=config.url)!= config.author]
    p Powered by #[a(href=hexoURL, target="_blank") Hexo] , Themes #[a(href="https://weic96.cn/themes-note/", target="_blank") Note].