//- Created by bob on 26/05/2017.
// navigation
.navbar-layout
    .navbar-header
        img(src=theme.logo, alt=config.title)
    .navbar-date
        .navbar-date-post
            h2 文章
                p #{site.posts.length}
        .navbar-date-tags
            h2 标签
                p #{site.tags.length}
        .clear-float
    .navbar-links
        ul
            li
                a(href='ceshi') zhuti
    .navbar-icon
        a.fa.fa-github.navbar-github(href='')
        a.fa.fa-weibo.navbar-weibo(href='')
        a.fa.fa-envelope.navbar-mail(href='')
        a.fa.fa-rss.navbar-rss(href='')