//- Created by bob on 26/05/2017.

.post-donate
    span.post-donate-btn
        i.post-donate-btn-chinese 赏
    .post-donate-box
        p 如果我的文章对你有帮助，或许可以打赏一下呀！
        .post-donate-box-main
            .post-donate-alipay-box
                | 支付宝
                .post-donate-alipay
                    img(src='https://cdn.weic96.cn/alipay.jpg', alt='')
            .post-donate-weixin-box
                | 微信
                .post-donate-weixin
                    img(src='https://cdn.weic96.cn/weixin.jpg', alt='')
            .post-donate-qq-box
                | QQ
                .post-donate-qq
                    img(src='https://cdn.weic96.cn/qq.jpg', alt='')
            div(style='clear:left;')