//- Created by bob on 26/05/2017.
// script
script(src="/js/jquery.pjax.js")
script(src="/js/highlight.pack.js")
script(src="/js/highlightjs-line-numbers.js")
script(src="/js/waves.min.js")
script(src="/js/zoom.js")
script(src="/js/transition.js")
script(src="/js/main.js")
script(src="/js/loading.js")
